<!DOCTYPE html>
<html>
  <head>
    <title>VueJs Tutorial - coligo</title>
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
  </head>
  <body>
  
  <div id="vue-instance">

<div class="ui container">
<div class="ui cards">

    <friend-card v-for="friend in friends_suggested" 
    :key="friend.cid"
    :cid="friend.cid" 
    :name="friend.name" 
    :description="friend.description" 
    @friendadded="onFriendAddition" />

</div>
</div>

    <hr>
    <pre>vuejs data: {{ $data }}
    </pre>
  </div>

  
  <!--required for semantic-->
  <script src="/js/jquery.js"></script>
  <script src="/semantic/semantic.min.js"></script>
  <script src="/js/vue.js"></script>

  <script>
    
    Vue.component('friend-card', {
        props: ['cid', 'name', 'description'],
        template: `
            <div class="card" v-if="isAddPending">
            <div class="content">
            <div class="header">{{ name }}</div>
            <div class="description">{{ description }}</div>
            </div>
            <div class="ui button primary" @click="addFriend">
            <i class="add icon"></i>
            Add Friend
            </div>
            </div>
        `,
        
        data: function () {
            return {
                isAddPending: true
            }
        },
        methods: {
            addFriend(){
                console.log("adding friend:" + this.cid)
                this.isAddPending = false
                this.$emit("friendadded", this.cid)
            }
        }

    });


    var vm = new Vue({
      el: '#vue-instance',
      data: {
          friends_suggested: [
              {
                  cid: "101",
                  name: "Abhijit Mamarde",
                  description: "Software Proffessional and Technology Enthusiast",
                  added: false,
                  added_at: null
              },
              {
                  cid: "102",
                  name: "Abhishek Gujrathi",
                  description: "Enterprneur, Stock Trader, Expert in E-Commerce",
                  added: false,
                  added_at: null
              },
              {
                  cid: "103",
                  name: "Kate Winslet",
                  description: "Actress, Hollywood Diva",
                  added: false,
                  added_at: null
              },
              {
                  cid: "104",
                  name: "John Doe",
                  description: "Proffessional, fictional name most popular for web demos",
                  added: false,
                  added_at: null
              },
          ]
      },
      methods: {
          notImplementedYet(context) {
              console.log("Not yet implemented!" + context)
          },
          onFriendAddition(cid) {
              friendadded = $.grep(this.friends_suggested, function(e){ return e.cid == cid; });
              friendadded[0].added = true
              friendadded[0].added_at = new Date()
              console.log("friend successfully added:" + friendadded[0].name)
          }
      },
    });
  </script>

  </body>
</html>